@model RetailMVCWebEF.Models.ML.Book

@{
    ViewBag.Title = "Create";
}

<h2>Crear reserva</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Nueva reserva</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            Id reserva
            <div class="col-md-10">
                @Html.EditorFor(model => model.idBook, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.idBook, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Numero de Cliente
            <div class="col-md-10">
                @Html.EditorFor(model => model.clientNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.clientNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Nombre de Cliente
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Telefono de Cliente
            <div class="col-md-10">
                @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Fecha de Reserva
            <div class="col-md-10">
                @Html.EditorFor(model => model.time, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.time, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Restaurante
            <div class="col-md-10">
                @Html.DropDownList("FK_id_idTableTbl", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FK_id_idTableTbl, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Mesa Reservada
            <div class="col-md-10">
                @Html.DropDownList("FK_id_idRestaurant", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FK_id_idRestaurant, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear reserva" class="btn btn-secondary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
