@model IEnumerable<RetailMVCWebEF.Models.ML.Book>

@{
    ViewBag.Title = "Reservas de restaurante";
}

<h2>Reservas de restaurante</h2>

<p>
    @Html.ActionLink("Crear reserva", "Create", new { area = "" }, new { @class = "btn btn-secondary" })
</p>
<table class="table">
    <tr>
        <th>
            Numero de Cliente
        </th>
        <th>
            Nombre de Cliente
        </th>
        <th>
            Telefono de Cliente
        </th>
        <th>
            Fecha de Reserva
        </th>
        <th>
            Restaurante
        </th>
        <th>
            Mesa Reservada
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.clientNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Restaurant.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TableTbl.id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idBook }, new { @class = "btn btn-secondary" }) |
            @Html.ActionLink("Details", "Details", new { id=item.idBook }, new { @class = "btn btn-secondary" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idBook }, new { @class = "btn btn-secondary" })
        </td>
    </tr>
}

</table>
