@using RetailMVCWebEF.Models.VL

@model RetailMVCWebEF.Models.VL.ProductViewModel
@{
    var currentOrderId = ViewData["currentOrderId"].ToString();
    var currentTableId = ViewData["currentTableId"].ToString();

    int quantity = 0;

    List<OrderViewModel> OrdersTPV = ViewData["OrdersTPV"] as List<OrderViewModel>;
}


<link href="~/Content/product.css" rel="stylesheet" type="text/css" />

<div class="col-sm">
    <h5>@Model.name</h5>
    <div>
        <img class="imagen" src="~/content/images/@Model.imageUrl" />
    </div>
    @*<div class="numero">
            <span class="minus">-</span>
            <span class="valor">@quantity</span>
            <span class="plus">+</span>
        </div>*@

    @if (OrdersTPV.Count > 0)
    {

        <div class="numero">



            @using (Html.BeginForm("addEntry", "TPV", new
            {
                tableId = currentTableId,
                orderId = @currentOrderId,
                quantity = quantity + 1,
                productId = @Model.id
            }

            , FormMethod.Post, new { id = "quantityForm" }))
            {
                @Html.AntiForgeryToken()


                <input class="btn btn-success plus" type="submit" value="+" />

            }

            <span class="valor">&nbsp;</span>


            @if (OrdersTPV[0].ProductOrderDetails!=null)
            {
                if (OrdersTPV[0].ProductOrderDetails.FirstOrDefault(s => s.Product.id == Model.id) != null)
                {

                    using (Html.BeginForm("addEntry", "TPV", new
                    {
                        tableId = currentTableId,
                        orderId = @currentOrderId,
                        quantity = quantity - 1,
                        productId = @Model.id
                    }
                    , FormMethod.Post, new { id = "quantityForm" }))
                    {
                        @Html.AntiForgeryToken()


                        <input class="btn btn-success minus" type="submit" value="-" />

                    }

                }
            }

            </div>
    }
    </div>


@*<script>
        $(document).ready(function() {
            $('.minus').click(function () {
                let valor = parseInt($('.valor').text());
                if (valor > 0) {
                    valor--;
                    $('.valor').text(valor);
                    $('#quantity').val(valor);     
                }
            });

        $('.plus').click(function() {
            let valor = parseInt($('.valor').text());
        valor++;
        $('.valor').text(valor);
        $('#quantity').val(valor);     
        });
    });
</script>*@


